.blog-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow-x: auto;  
    padding:2vw;
    gap:5vw;
}

.blog-container::-webkit-scrollbar {
    height: 0;  /* Custom scrollbar height */
}



.blog-card img {
    height: 30vh;
    width: 100%;  /* Ensures image fits card width */
    object-fit: cover;
    border-radius: 1vw;
}

.blog-card p {
    width: 90%;  /* Keep paragraph width relative */
    padding: 1vh 0;

    font-size: 2vh;
    line-height: 1.4;
    margin-bottom:2vh;
}


.blog-card {
    flex: 0 0 auto;
    height: 70vh !important;
    width: 30vw !important;
    /* border:0.1px solid rgba(192, 192, 192, 0.80); */
    border-radius: 20px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25), -5px -5px 20px rgba(255, 255, 255, 0.9),
              inset 2px 2px 5px rgba(255, 255, 255, 0.5), inset -2px -2px 5px rgba(0, 0, 0, 0.1);
  /* display: flex; */
    padding:1vw;
    border-radius: 1vw;
    
}

.btn-read {
    background-color: #2e2e2e; /* Slightly lighter than the card */
    color: #fff;
    height: 10vh !important;
    border-radius: 1vw;
    padding: 2vh 2vw; /* Combined padding */
    margin-top: 5vh;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15), /* Increased blur for a deeper shadow */
    -5px -5px 15px rgba(255, 255, 255, 0.2), /* Softer inner highlight */
    inset 2px 2px 5px rgba(0, 0, 0, 0.1), /* Inner shadow */
    inset -2px -2px 5px rgba(255, 255, 255, 0.1); /* Outer highlight */

background-color: #3c3c3c; /* Lighter on hover */
box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2), /* Slightly lighter shadow on hover */
    -4px -4px 10px rgba(255, 255, 255, 0.3), /* Brighter highlight on hover */
    inset 1px 1px 3px rgba(255, 255, 255, 0.4), /* Slightly more pronounced inner shadow */
    inset -1px -1px 3px rgba(0, 0, 0, 0.05); /* Subtle outer highlight on hover */
}





@media(max-width:768px){
    .main-heading{
        font-size:5vh !important;
    }

    .blog-card{
        width: 95% !important;
        padding:2vw;
        border-radius: 4vw;
    }
    .blog-card img{
        border-radius: 4vw;
    }
    .btn-read{
        width: 50% !important;
    }
}